<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>
    <form th:action="@{/register}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
        <div th:if="${param.exists}">
            <p>User exists already!</p>
        </div>
        <div th:if="${param.error}">
            <p>Invalid username or password.</p>
        </div>
        <div th:if="${param.logout}">
            <p>You have been logged out.</p>
        </div>
        <p>Already have an account? <a href="/login">Please login!</a></p>
    </form>
</body>

</html>