<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
   <body>
      <div class='card card-body bg-light'>
      <div>
         <form th:action = "@{/searchByYear}" method = "POST">
            <div>
            <label>Year : <input type = "text" name = "year"/> </label>
            <input type = "submit" value = "Search"/>
            </div>
         </form>
      </div>
      <p>
      <b>Or</b>
      <div>
         <form th:action = "@{/searchByActor}" method = "POST">
            <div>
            <label>Actor : <input type = "text" name = "actor"/> </label>
            <input type = "submit" value = "Search"/>
            </div>
         </form>
      </div>
      <p>
         <div>
         <tr th:each='movie: ${found}'>
            <td th:text='${movie}' />
            <br/>
         </tr>
         </div>
   </div>
   </body>
</html>